numpy
pandas
matplotlib
seaborn
scipy
joblib
streamlit
uvicorn
fastapi
httpx
python-dotenv
scikit-learn





numpy==2.4.3
pandas==2.3.3
matplotlib==3.10.8
seaborn==0.13.2
scipy==1.17.1
joblib==1.5.3
streamlit==1.55.0
uvicorn==0.34.0
fastapi==0.105.0
httpx
python-dotenv
scikit-learn==1.6.1
